body{
background-color: red;
font-family: Arial, Helvetica, sans-serif;
color: #888888;
}


h1{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px; 
  font-weight: 800;
font-size: x-large;
}


p{ padding-left:20px;
    padding-bottom: 20px;
    font-size: x-large;
}
